## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [9]:
print('rows = ',app_train.shape[0], '\n'+'columns = ',app_train.shape[1])

rows =  307511
columns =  122

#### 列出所有欄位

In [15]:
app_train.info(verbose=True)
# app_train.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 122 columns):
 #   Column                        Dtype
---  ------                        -----
 0   SK_ID_CURR                    int64
 1   TARGET                        int64
 2   NAME_CONTRACT_TYPE            object
 3   CODE_GENDER                   object
 4   FLAG_OWN_CAR                  object
 5   FLAG_OWN_REALTY               object
 6   CNT_CHILDREN                  int64
 7   AMT_INCOME_TOTAL              float64
 8   AMT_CREDIT                    float64
 9   AMT_ANNUITY                   float64
 10  AMT_GOODS_PRICE               float64
 11  NAME_TYPE_SUITE               object
 12  NAME_INCOME_TYPE              object
 13  NAME_EDUCATION_TYPE           object
 14  NAME_FAMILY_STATUS            object
 15  NAME_HOUSING_TYPE             object
 16  REGION_POPULATION_RELATIVE    float64
 17  DAYS_BIRTH                    int64
 18  DAYS_EMPLOYED                 int64
 19  DAYS_REGISTRATION             float64
 20  DAYS_ID_PUBLISH               int64
 21  OWN_CAR_AGE                   float64
 22  FLAG_MOBIL                    int64
 23  FLAG_EMP_PHONE                int64
 24  FLAG_WORK_PHONE               int64
 25  FLAG_CONT_MOBILE              int64
 26  FLAG_PHONE                    int64
 27  FLAG_EMAIL                    int64
 28  OCCUPATION_TYPE               object
 29  CNT_FAM_MEMBERS               float64
 30  REGION_RATING_CLIENT          int64
 31  REGION_RATING_CLIENT_W_CITY   int64
 32  WEEKDAY_APPR_PROCESS_START    object
 33  HOUR_APPR_PROCESS_START       int64
 34  REG_REGION_NOT_LIVE_REGION    int64
 35  REG_REGION_NOT_WORK_REGION    int64
 36  LIVE_REGION_NOT_WORK_REGION   int64
 37  REG_CITY_NOT_LIVE_CITY        int64
 38  REG_CITY_NOT_WORK_CITY        int64
 39  LIVE_CITY_NOT_WORK_CITY       int64
 40  ORGANIZATION_TYPE             object
 41  EXT_SOURCE_1                  float64
 42  EXT_SOURCE_2                  float64
 43  EXT_SOURCE_3                  float64
 44  APARTMENTS_AVG                float64
 45  BASEMENTAREA_AVG              float64
 46  YEARS_BEGINEXPLUATATION_AVG   float64
 47  YEARS_BUILD_AVG               float64
 48  COMMONAREA_AVG                float64
 49  ELEVATORS_AVG                 float64
 50  ENTRANCES_AVG                 float64
 51  FLOORSMAX_AVG                 float64
 52  FLOORSMIN_AVG                 float64
 53  LANDAREA_AVG                  float64
 54  LIVINGAPARTMENTS_AVG          float64
 55  LIVINGAREA_AVG                float64
 56  NONLIVINGAPARTMENTS_AVG       float64
 57  NONLIVINGAREA_AVG             float64
 58  APARTMENTS_MODE               float64
 59  BASEMENTAREA_MODE             float64
 60  YEARS_BEGINEXPLUATATION_MODE  float64
 61  YEARS_BUILD_MODE              float64
 62  COMMONAREA_MODE               float64
 63  ELEVATORS_MODE                float64
 64  ENTRANCES_MODE                float64
 65  FLOORSMAX_MODE                float64
 66  FLOORSMIN_MODE                float64
 67  LANDAREA_MODE                 float64
 68  LIVINGAPARTMENTS_MODE         float64
 69  LIVINGAREA_MODE               float64
 70  NONLIVINGAPARTMENTS_MODE      float64
 71  NONLIVINGAREA_MODE            float64
 72  APARTMENTS_MEDI               float64
 73  BASEMENTAREA_MEDI             float64
 74  YEARS_BEGINEXPLUATATION_MEDI  float64
 75  YEARS_BUILD_MEDI              float64
 76  COMMONAREA_MEDI               float64
 77  ELEVATORS_MEDI                float64
 78  ENTRANCES_MEDI                float64
 79  FLOORSMAX_MEDI                float64
 80  FLOORSMIN_MEDI                float64
 81  LANDAREA_MEDI                 float64
 82  LIVINGAPARTMENTS_MEDI         float64
 83  LIVINGAREA_MEDI               float64
 84  NONLIVINGAPARTMENTS_MEDI      float64
 85  NONLIVINGAREA_MEDI            float64
 86  FONDKAPREMONT_MODE            object
 87  HOUSETYPE_MODE                object
 88  TOTALAREA_MODE                float64
 89  WALLSMATERIAL_MODE            object
 90  EMERGENCYSTATE_MODE           object
 91  OBS_30_CNT_SOCIAL_CIRCLE      float64
 92  DEF_30_CNT_SOCIAL_CIRCLE      float64
 93  OBS_60_CNT_SOCIAL_CIRCLE      float64
 94  DEF_60_CNT_SOCIAL_CIRCLE      float64
 95  DAYS_LAST_PHONE_CHANGE        float64
 96  FLAG_DOCUMENT_2               int64
 97  FLAG_DOCUMENT_3               int64
 98  FLAG_DOCUMENT_4               int64
 99  FLAG_DOCUMENT_5               int64
 100 FLAG_DOCUMENT_6               int64
 101 FLAG_DOCUMENT_7               int64
 102 FLAG_DOCUMENT_8               int64
 103 FLAG_DOCUMENT_9               int64
 104 FLAG_DOCUMENT_10              int64
 105 FLAG_DOCUMENT_11              int64
 106 FLAG_DOCUMENT_12              int64
 107 FLAG_DOCUMENT_13              int64
 108 FLAG_DOCUMENT_14              int64
 109 FLAG_DOCUMENT_15              int64
 110 FLAG_DOCUMENT_16              int64
 111 FLAG_DOCUMENT_17              int64
 112 FLAG_DOCUMENT_18              int64
 113 FLAG_DOCUMENT_19              int64
 114 FLAG_DOCUMENT_20              int64
 115 FLAG_DOCUMENT_21              int64
 116 AMT_REQ_CREDIT_BUREAU_HOUR    float64
 117 AMT_REQ_CREDIT_BUREAU_DAY     float64
 118 AMT_REQ_CREDIT_BUREAU_WEEK    float64
 119 AMT_REQ_CREDIT_BUREAU_MON     float64
 120 AMT_REQ_CREDIT_BUREAU_QRT     float64
 121 AMT_REQ_CREDIT_BUREAU_YEAR    float64
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

#### 截取部分資料

In [36]:
# app_train[['TARGET','CODE_GENDER']][2:5]
# app_train.loc[1:4]#iloc[1:3]

app_train.loc[1:7,'TARGET':'CODE_GENDER']
app_train.iloc[2:5,[3,6]]

  CODE_GENDER  CNT_CHILDREN
2           M             0
3           F             0
4           M             0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子